@use 'mixins';

html {
  background-color: var(--color-bg);
}
html,
body {
  // overflow: hidden;
}
body {
  transition:
    background-color 0.4s var(--cubic),
    color 0.4s var(--cubic);
}
#page {
  // display: grid;
  // grid-template-columns: repeat(3, minmax(0, 1fr));
  // gap: var(--spacing-md);
  padding: var(--spacing-sm);
  transition: opacity 0.4s var(--cubic);
  &.is-loading {
    opacity: 0;
  }
  header,
  main {
    // padding: var(--spacing-lg) 0;
  }
  main {
    grid-column: span 2 / span 2;
    margin-bottom: var(--spacing-lg);
    min-height: 100vh;
    z-index: 1;
    .template {
      background-color: var(--color-bg);
    }
    .gradient {
      height: var(--spacing-xl);
      // @include mixins.linear-gradient(to bottom, var(--color-bg), transparent);
      $color: var(--color-bg);
      $alpha: rgba($color, 0);
      $half: rgba($color, 0.7);
      // background: linear-gradient(to $direction, $color 0%, $half 50%, $alpha 100%);

      background-image: linear-gradient(to bottom, $color 0%, $half 50%, $alpha 100%);
    }
  }
  footer {
    grid-column: span 3 / span 3;
  }
  .smooth-scroller {
    padding: var(--spacing-sm);
    @include mixins.scrollbars(10px, var(--color-primary), var(--color-background));
  }
}
main {
  position: relative;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.sm-only {
  display: none;
}
@media all and (max-width: $md) {
  .sm-only {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
  #page {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    .smooth-scroller {
      padding: var(--spacing-md);
    }
  }
  main {
    padding-top: var(--header-h);
  }
}
