header {
  // position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
  // padding: var(--spacing-lg);
  .site-name {
    margin-bottom: var(--spacing-lg);
  }
  // color: var(--color-primary);
  nav li {
    // padding-right: 1rem;
    margin-bottom: var(--spacing-md);
  }
  nav a[aria-current='page'] {
    // text-decoration: underline;
    // text-underline-offset: 0.08em;
  }
}
